body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.note-title,
.note-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.note-title {
  height: 40px;
}

.note-textarea {
  height: 100px;
}

button {
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #4cae4c;
}

.list-container {
  margin-top: 20px;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-title {
  cursor: pointer;
}

.delete-note {
  cursor: pointer;
}

.clear-btn {
  display: none;
}
